{% extends "layout.html" %}
{% block body %}
  {% if user.email %}
  <form class="form-signin" role="form" action="{{ url_for('add_post') }}" method=post class=add-entry>
    <h2 class="form-signin-heading">Post status below</h2>
    <input type="user" name="user" class="form-control" placeholder="User" required autofocus>
    <input type="status" name="status" class="form-control" placeholder="Status" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
  {% for post in posts %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post['user'] }}</h2>
    <p>{{ post['status']|safe }}<p>
  </div>
  {% else %}
    <div class="blog-post"><h2 class="blog-post-title">Unbelievable. No posts here so far!</h2></div>
  {% endfor %}
  {% endif %}
{% endblock %}
